@model IEnumerable<Binet_Gold.Models.EveryDay_rate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time.Date_Time_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikri_Dar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kharid_Dar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time.Date_Time_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop_Details.Shop_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bikri_Dar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kharid_Dar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EveryDay_RateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EveryDay_RateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EveryDay_RateID })
        </td>
    </tr>
}

</table>
