@model IEnumerable<Binet_Gold.Models.ScrabGold>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scrab_Gold_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Shop_Details.Shop_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scrab_Gold_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScrabGold_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScrabGold_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScrabGold_ID })
        </td>
    </tr>
}

</table>
