@model IEnumerable<Binet_Gold.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Shop_Details.Shop_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Client_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Client_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Client_ID })
        </td>
    </tr>
}

</table>
