@model Binet_Gold.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
