@model IEnumerable<Binet_Gold.Models.Bill_attribute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bill_Number.Bill_Number1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Client_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time.Date_Time_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrabGold.ScrabGold_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bill_Number.Bill_Number1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Client_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time.Date_Time_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScrabGold.ScrabGold_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop_Details.Shop_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bill_attributeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bill_attributeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bill_attributeID })
        </td>
    </tr>
}

</table>
