@model Binet_Gold.Models.FiscalYear

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FiscalYear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_Details.Shop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fisccal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fisccal_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_to)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
