@model Binet_Gold.Models.FiscalYear

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FiscalYear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shop_Details.Shop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_Details.Shop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fisccal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fisccal_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_to)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Fiscal_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
